{% extends "layouts/base.html.twig" %}

{% block titre %}
Informations Produit
{% endblock %}


{% block main %}
<div class="container title mt-5 text-center">
    <h1>Informations | {{ produit.titre }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ produit.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ produit.categorie.libelle }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
